- name: Installing stow
  apt: name=stow
  become: true
  tags:
    - install
    - dotfiles
    - stow

- name: Check if .zshrc exists
  stat:
    path: "{{ lookup('env', 'HOME') }}/.zshrc"
  register: zshrc
  tags: &tags_for_zsh_tasks [ 'install', 'productivity', 'dotfiles', 'zsh' ]

- name: rm .zshrc to be able to stow new later
  shell: "rm {{ lookup('env', 'HOME') }}/.zshrc"
  tags: *tags_for_zsh_tasks
  when: zshrc.stat.exists

- name: Cloning .dotfiles
  ansible.builtin.git:
    repo: 'git@github.com:abremhol/.dotfiles.git'
    dest: "{{ lookup('env', 'HOME') }}/.dotfiles"
    recursive: yes
    update: yes
    accept_hostkey: yes
    version: master
  tags:
    - install
    - dotfiles
    - stow
- name: Stow dotfiles
  shell: cd $HOME/.dotfiles && ./ubuntu
  tags:
    - install
    - dotfiles
    - stow
